.desafios_banner{
  min-height: 50vh;
  background-image: url('../../../assets/bannerDesafios.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

.confira{
  color: #3F97D3;
  font-weight: bold;
}

.card-desafios {
    height: 480px;       
    margin-bottom: 20px;
    transition: border 0.1s, transform 0.3s;
}

.card-body-scroll{
  overflow-y: auto; 
}

.card-desafios:hover {
    box-sizing: content-box;
    border: 2px solid #3F97D3;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    cursor: pointer;
}

.card-desafios img {
    height: 200px;
    width: 200px;    
  }

.card-desafios img:hover {
  opacity: 0.6;
}

.footer-card{
  background: #FAC100;
  height: 60px;
}





