<app-navbar></app-navbar>
<main class="container-fluid">

    <div class="row">
        <div class="col-md-12 main_banner d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 class="bolder branco h_menor">Participe dos games e se destaque na comunidade SoulCode!</h1>
                <div class="b_banner branco bolder mt-3 text-center">VAMOS JOGAR?</div>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-4">
        <div class="col-md-4" id="quiz_div">
            <div routerLink="quiz" class="circle d-flex justify-content-center align-items-center">
                <div class="dark_circle" id="dark_circle_quiz"></div>
                <img src="../../../assets/iconQuiz.png" class="icons_circle">
                <h1 class="branco h1_circle" id="h1_quiz">QUIZ</h1>
            </div>
        </div>
        <div class="col-md-4" id="desafio_div">
            <div routerLink="desafios" class="circle d-flex justify-content-center align-items-center">
                <div class="dark_circle" id="dark_circle_desafio"></div>
                <img src="../../../assets/iconDesafio.png" class="icons_circle">
                <h1 class="branco h1_circle" id="h1_desafio">DESAFIOS</h1>
            </div>
        </div>
        <div class="col-md-4" id="ranking_div">
            <div routerLink="hist" class="circle d-flex justify-content-center align-items-center">
                <div class="dark_circle" id="dark_circle_ranking"></div>
                <img src="../../../assets/iconRanking.png" class="icons_circle">
                <h1 class="branco h1_circle" id="h1_ranking">RANKING</h1>
            </div>
        </div>
    </div>    
</main>