<section id="reset-container" class="container my-5 d-flex justify-content-center">
  <div class="row">
    <div class="container-reset px-5 d-flex flex-column justify-content-center">
      <img class="pb-4 px-5 img-fluid" src="../../../assets/logo.png">
      <p class="text-center">
        Esqueceu a senha? Informe seu e-mail:
      </p>
      <p class="h-divider"></p>
      <form class="form-group">
        <!-- <div class="alert alert-danger" role="alert">
        Email Invalido
      </div>
      <div class="alert alert-success" role="alert">
        eu n sei
      </div> -->
        <input class="form-control" type="email" placeholder="xxxxxxx@xxx.com" name="email" [formControl]="email">
        <div class="col text-center">
          <button class="btn btn-warning mt-2" type="submit" (click)="resetPassword()"
            [disabled]="email.invalid">Enviar</button>
        </div>
      </form>
      <p class="mt-4 text-center"> Lembrou a senha? <a class="reset-links" routerLink="/home">Fazer login!</a> </p>
    </div>
  </div>
</section>

<div class="footer_home container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="links d-flex justify-content-around align-items-center">
        <img class="logo_footer" src="../../../assets/logo-dark.png">
        <a href="https://soulcodeacademy.org/" target="_blank">Sobre</a>
        <a href="https://soulcodeacademy.org/" target="_blank">Termos de Serviço</a>
        <a href="https://soulcodeacademy.org/" target="_blank">Políticas de Privacidade</a>
      </div>
      <div class="linha_amarela"></div>
      <p class="copyright text-center">
        <b>SOULCODE ACADEMY &copy; 2021</b> <br>
        Rua Helena, 235 Conj 111, 11ª andar - Vila Olímpia - São Paulo/SP - CEP: 04552-050
      </p>
    </div>
  </div>
</div>




<!-- invalido *ngIf="email?.hasError('email') && !email?.hasError('required')" -->
<!-- nao sei *ngIf="email?.hasError('required')" -->